@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NoonnuBasicGothicRegular';
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #0D0D0D;
    color: #BAF266;
    padding: 20px;
    text-align: center;
}
.current-time {
    font-size: 16px;
    margin-top: 10px;
}
.status-container {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.employee-card {
    background-color: #595959;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.employee-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F2F2F2;
}
.status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.status.in {
    color: #BAF266;
}
.status.out {
    color: #F44336;
}
.manage-btn {
    font-family: 'NoonnuBasicGothicRegular';
    background-color: #0D0D0D;
    color: #BAF266;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
    width: fit-content;
}
/* .manage-btn:hover {
    background-color: #4CAF50;
} */
.time {
    font-size: small;
    color: #F2F2F2;
}

.emp-btn, .cancel-btn {
    border: 1px solid #595959;
    border-radius: 8px;
    width: 80%;
    font-family: 'NoonnuBasicGothicRegular';
    background-color: #595959;
    color: #F2F2F2;
    padding: 15px;
    font-size: 18px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}





